keras_resnet==0.2.0
javabridge==1.0.18
opencv_python_headless==4.1.2.30
Keras==2.1.6
scipy==1.4.1
python_bioformats==1.5.2
numpy==1.18.1
tqdm==4.41.1
imgaug==0.3.0
bfio==1.0.6
tensorflow==1.15.0
scikit_image==0.15.0
pandas==0.25.3
bioformats==0.1.15
skimage==0.0
