scikit_image==0.15.0
keras_resnet==0.2.0
torchvision==0.3.0
Keras==2.1.6
numpy==1.18.1
lightgbm==2.3.1
pandas==0.25.3
bfio==1.0.6
torch==1.1.0
python_bioformats==1.5.2
opencv_python_headless==4.1.2.30
imgaug==0.3.0
matplotlib==3.1.1
javabridge==1.0.18
tqdm==4.41.1
tensorflow==1.15.0
scipy==1.4.1
bioformats==0.1.15
scikit_learn==0.22.1
skimage==0.0
telegram_send==0.24
tensorboardX==2.0
